
    .container-1{
        display: flex;
        /*
        align-items: flex-start;
        align-items: flex-end;
        */
    }

    .container-1 div{
        border: 1px #ccc solid;
        padding: 10px;
    }

    .box-1{
        flex:2;
        order:2;
    }

    .box-2{
        flex:1;
        order:1;
    }
    
    .box-3{
        flex:1;
        order: 3;
    }

/* div class=  "container-1">
    <div class=".box-1">
     <h3>Box One</h3>
    <p>Beauty options for you, whenever you need them.</p>
    </div>
    <div class="box-2">
    <h3>Box Two</h3>
    <p>Find local makeup and nail services in your city.</p>
    </div>
    <div class=".box-3">
    <h3>Box Three</h3>
    <p> Locate the top beauty professionals near you.</p>  */