body{
    background-color: bisque;
    font-family: sans-serif;
    color:chocolate;
    width: 100%;
}

.appName {
  background-image: "https://images.squarespace-cdn.com/content/v1/586a6d7937c581270a2cbfe5/1554473810474-ORUQKC6KHAS7MZI30JLX/Salon+pic+cover.jpg?format=2500w";
}

.topnav {
  width: 100%;
}

.images {
  display: flex;
  flex-direction: row;
  /* justify-content: left; */
  align-items: center;
  margin: 20px auto;
  width: 100%;
}

img {
  max-height: 200px;
  width: contain;
}

h1 {
  margin: 10px auto;
  font-size: 50px;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: chocolate;
}

#search {
  border-color: chocolate;
  border-radius: 3px;
  color: chocolate;
}

button {
  border: none;
  border-radius: 3px;
  background-color: chocolate;
  color: white;
  padding: 3px 8px;
}